.usersPhoto{
    width: 100px;
    height: 100px;
}

.pages{
    margin:20px;
}
.pages span{
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}
.selectedPage{
    font-weight: bold;
    color: white;
}