.header {
    width: 100%;
    height: 70px;
    background-color: #3f4257;
    display: flex;
}

.header img {
    width: 70px;
    height: 100%;
}

.headerText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerText img{
    width: 40px;
    height: 40px;
}
.headerTitle{
    color: white;
}

.loginBlock{
    color: white;
    font-size: 20px;
}

.loginBlock a{
    color: white;
    text-decoration: none;
}

.headerLogin{
    display:block;
    text-align: center;
    opacity: 0.5;
}

.login{
    display: flex;
}

.buttonLogout{
    border: none;
    display: flex;
    text-align-last: center;
    justify-content: center;
    color: white;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    outline: none;
}



