.header {
    width: 100%;
    height: 70px;
    background-color: #3f4257;
    display: flex;
}

.header img {
    width: 70px;
    height: 70px;
}

.headerText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerText img{
    width: 40px;
    height: 40px;
}
.headerTitle{
    color: white;
}

.loginBlock{
    color: white;
    font-size: 20px;
}

.loginBlock a{
    color: white;
    text-decoration: none;
}

.headerLogin{
    display:block;
    text-align: center;
    opacity: 0.5;
}



